.hide {
    display: none !important;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color:  #f2f7f5;
}

/* menu (inicio) */
.navbar {
    background-color: #bcd4cb;
    overflow: visible;
    display: flex;
    box-shadow: 0.1em 0 0.4em rgba(0, 51, 44, 0.2);
    justify-content: center;
    height: 60px;
    position: relative;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
}

.navbar ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar li a {
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #00473e;
    font-weight: 550;
}

.navbar ul a:hover {
    background-color: #faae2b;
    color: #00473e;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 50px;
}

.search-bar {
    height: 20px;
    padding: 7px 15px;
    font-size: 14px;
    border: 2px solid #00332c;
    border-radius: 25px;
    outline: none;
    width: 150px;
    background: #ffffff;
    color: #00473e;
}

.search-bar::placeholder {
    color: #475d5b;
}

.menu-svg {
    height: 38px;
    margin-top: 10px;
    margin-left: 6px;
    background-color: #00473e;
    border: 2px solid #00473e;
    border-left: none;
    border-radius: 70px;
    cursor: pointer;
    padding: 6px 8px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.menu-svg:hover {
    background-color: #faae2b;
    border-color: #faae2b;
}

.menu-svg svg {
    stroke: #f2f7f5;
}

.menu-svg span {
    margin-left: 5px;
    margin-right: 5px;
    color: #f2f7f5;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: 50px;
    cursor: pointer;
    padding-top: 10px;
}
/* menu (fim) */

/* pesquisas (inicio) */
.search-container {
    position: relative;
    display: inline-block;
}

#lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 9999;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
}

#lista-menu .item-resultado-busca {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #f0f0f0;
    font-size: 0.9rem;
    text-align: left;
}

#lista-menu .item-resultado-busca:hover {
    background-color: #f0f9eb;
    color: #4d7034;
}

#lista-menu .item-resultado-busca:last-child {
    border-bottom: none;
}

#lista-menu .aviso-busca {
    padding: 15px;
    text-align: center;
    color: #888;
    margin: 0;
    font-size: 0.9rem;
}
/* pesquisas (fim) */

/* perfil (inicio)*/

.perfil-main {
    min-height: 80vh;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.container-perfil {
    width: 100%;
    max-width: 800px;
}

.perfil-info {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 40px;
    background-color: white;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border: 1px solid #00332c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-boas-vindas h1 {
    color: #475d5b;
    font-size: 2.2rem;
    margin: 0;
}

.texto-boas-vindas span {
    color: #00473e;
}

.texto-boas-vindas p {
    color: #475d5b;
    margin: 10px 0 0 0;
    font-size: 1.1rem;
}

.grid-opcoes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

/* .card-opcao {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    text-decoration: none;
    color: #333;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    cursor: pointer;
} */

.card-opcao:hover {
    transform: translateY(-3px);
    border-color: #00473e;
    box-shadow: 0 5px 15px rgba(244, 131, 44, 0.2);
}

.info-opcao h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #00473e;
}

.info-opcao p {
    margin: 5px 0 0 0;
    font-size: 0.95rem;
    color: #fa5246;
}

/* .seta {
    margin-left: auto;
    font-weight: bold;
    color: #f4832c;
    font-size: 1.2rem;
} */

.card-opcao.logout:hover {
    border-color: #fa5246;
    box-shadow: 0 5px 15px rgba(231, 76, 60, 0.2);
}

.card-opcao.logout h3 {
    color: #fa5246;
}

#btn-logout-perfil {
    background-color: transparent;
    border: none;
    padding: 8px 15px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

#btn-logout-perfil:focus {
    outline: none;
}

.card-detalhes {
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border: 1px solid #eee;
    margin-bottom: 20px;
}

/* Texto na esquerda botão na direita */
.item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.label {
    font-size: 0.85rem;
    color: #475d5b;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.texto-info h3 {
    margin: 5px 0 0 0;
    color: #333;
    font-size: 1.1rem;
}


.btn-alterar {
    background-color: #f2f7f5;
    border: 1.5px solid #00473e;
    color: #00473e;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-alterar:hover {
    border: 1.5px solid #ffa8ba;
    background-color: #f2f7f5;
    color: #ffa8ba;
}


.divisor-info {
    border: 0;
    border-top: 1px dashed #eee;
    margin: 5px 0;
}


.card-opcao.logout {
    margin-top: 40px; 
    background-color: #fff1f0; 
    border: 1px solid #fa5246; 
    padding: 0; 
    overflow: hidden;
    transition: all 0.3s ease;
    width: 200px;
}


#btn-logout-perfil {
    width: 100%;
    padding: 10px 25px;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer; /* Faz aparecer a "mãozinha" do mouse */
}

/* Texto do botão Sair */
.card-opcao.logout h3 {
    color: #fa5246; /* Vermelho mais forte para o título */
    margin: 0;
}

.card-opcao.logout p {
    color: #fa5246; /* Vermelho suave para a descrição */
    opacity: 0.8;
}

/* Efeito de HOVER (Quando o mouse passa em cima) */
.card-opcao.logout:hover {
    background-color: #fa5246; /* Fica vermelho vivo */
    border-color: #fa5246;
    transform: translateY(-2px); /*Dá um leve pulinho */
    box-shadow: 0 4px 12px rgba(217, 54, 62, 0.2);
}

/* Muda a cor do texto para branco no hover */
.card-opcao.logout:hover h3, 
.card-opcao.logout:hover p {
    color: white;
}

/* perfil (fim)*/


/* responsividade (incio) */
.hamburger {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {

    .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #f4832c;
    border-radius: 3px;
    transition: 0.3s;
    }

    .hamburger {
        display: none;
        cursor: pointer;
        margin-left: 10px;
    }

    .hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #f4832c;
        border-radius: 3px;
        transition: 0.3s;
    }

    .hamburger {
        display: none;
        cursor: pointer;
        margin-left: 10px;
    }

    .hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #f4832c;
        border-radius: 3px;
        transition: 0.3s;
    }

    .navbar {
        padding: 10px 20px;
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        justify-content: space-between;
    }

    .hamburger {
        display: block;
        order: 3;
    }

    .logo {
        margin: 0;
        order: 1;
    }

    .menu-svg {
        display: flex;
        margin: 0;
        margin-left: auto;
        order: 2;
    }

    .search-bar,
    #pesquisar-btn,
    .search-container {
        display: none !important;
    }

    .navbar ul {
        display: none;
        width: 100%;
        text-align: center;
        order: 4;
    }

    .navbar.active ul {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        border-top: 1px solid #eee;
    }

    .navbar.active li {
        margin: 10px 0;
    }

    .navbar.active .hamburger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
    }
    .navbar.active .hamburger span:nth-child(2) {
        opacity: 0;
    }
    .navbar.active .hamburger span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
    }
}
/* responsividade (fim) */

footer{
    text-align: center;
}